@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Grotley";
  src: url('../../public/font/GrotleyRegular-mLEWv.otf');
}
@font-face {
  font-family: "Satoshi";
  src: url('../../public/font/Satoshi-Variable.ttf')
}